<<<<<<< Updated upstream
h1 {
  color: #336699; /* Hexadecimal color code */
  font-family: 'Arial', sans-serif;
  font-size: 2.5em; /* Relative to parent font size */
  text-align: center;
}

=======
p {
  color: rgb(51, 51, 51); /* RGB color code */
  font-family: 'Georgia', serif;
  font-size: 16px; /* Absolute pixel size */
  line-height: 1.5; /* Spacing between lines */
  margn-bottom: 1em;
}
>>>>>>> Stashed changes
adding some more data to learn pull
